<%- include('./partials/header.ejs') %>
<body>
    <img src="/img/logo.png" alt="logo" />

    <form action="/users/login" method="post">
        <input type="email" placeholder="email" name="email"><br>
        <input type="password" placeholder="password" name="password"><br>
        <button>Signin</button>
    </form>
    <button><a href="/signup">Logout</a></button>
</body>
<%- include('./partials/footer.ejs') %>
</html>