<%- include('./partials/header.ejs') %>
<body>
    <form action="/users/signup" method="post">
        <input type="text" placeholder="username" name="username"><br>
        <input type="email" placeholder="email" name="email"><br>
        <input type="password" placeholder="password" name="password"><br>
        <input type="text" placeholder="gender" name="gender"><br>
        <input type="text" placeholder="contact Address" name="contact"><br>
        <input type="text" placeholder="Phone Number" name="phone_number"><br>
        <button>signup</button>
    </form>
    <button><a href="/login">Logout</a></button>
</body>
<%- include('./partials/footer.ejs') %>
</html>